@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Boooking Complete</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <img src="~/images/CodeFluxLogo.png" />

    <div class="text-center jumbotron">
        <h2>We are preparing your request as you receive this feedback!</h2>
        <h3>We're going to have an exciting party!</h3>
        <h4>Thank you for booking</h4>
        <a class="btn btn-success" asp-action="Index">Done</a>



    </div>
</body>
</html>
