@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
    <body>

        <img src="~/images/CodeFluxLogo.png" />

        <div class="text-center jumbotron">
            <h2>We would love to present to you the second year anniversary celebration of Code Flux!</h2>
            <h3>We're going to have an exciting party!</h3>
            <h4>And you are invited</h4>
            <a class="btn btn-success" asp-action="RsvpForm">RSVP Now</a>



        </div>
    </body>
</html>
